<!DOCTYPE html>
<html>
<head>
	<title>English dictionary</title>
</head>
<body>
	<h1>English dictionary</h1>
	<form method="GET" action="/search">
		<input type="text" name="word" placeholder="Enter a word" value="{{ word }}">
		<input type="submit" value="Search">
	</form>
	{% if searching and not result: %}
	<p>No result found.</p>
	{% else %}
	<p>{{ result }}</p>
	{% endif %}
</body>
</html>